:root {
    --theme: #02b6d6;
    --text: white;
    --border: 10px;
    --bordercolor: white;
}

body {
    display:flex;
    flex-direction: column;
    background-color: #3a3a3a;
    user-select: none;
    min-height: 100vh;
}


#header {
    color: var(--theme);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#subheader {
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.child {
    margin-inline: 5px
} 


.headline {
    color: var(--theme);
    text-align: center;
}

p {
    color: var(--theme);
    margin-left: 10px;
}

pre {
    grid-area: 100%;
    display: flex;
    color: var(--text);
    background: linear-gradient(#35474b,var(--theme));
    border-radius: 5px;
    margin: 0px 10px;
    padding-top: 20px;
    user-select: text;
}

#footer {
    color: var(--theme);
}

.bottom {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

/*Borders*/

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--bordercolor);
    border-radius: var(--border);
    margin-bottom: 3px;
    margin-left: 16.6%;
    width: 65%;
}

.headline:hover {
    box-shadow: 0px 0px 20px 10px;
    transition: all 3s;
}



.box {
    border: 2px dashed var(--bordercolor);
    height: 200px;
    margin-top: 0;
}

/*Grid*/

#heroGrid {
    display: grid;
    margin: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "rowF        columnF       gridA"
    "gradients  transition   card";
}

#row {
    grid-area: 1fr "rowF";
}

#column {
    grid-area: 1fr "columnF";
}

#grid {
    grid-area: 1fr "gridA";
}

#gradients {
    grid-area: 1fr "gradients";
}

#transition {
    grid-area: 1fr "transition";
}

#card {
    grid-area: 1fr "card";
}

.box {
    display: grid;
    height: 70%;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "subtext"
    "code";
}

#subtext {
    grid-area: "subtext";

}

#code {
    grid-area: "code";
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #heroGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "rowF         columnF"
        "gridA        gradients"
        "transition   card";
    }
}

@media screen 
and (max-width: 690px) {
    #heroGrid {
        display: grid;
        grid-template-rows: 6fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "rowF"
        "columnF"
        "gridA"
        "gradients"
        "transition"
        "card";
    }
}